body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: rgb(104, 148, 237);
}

#container {
  width: 420px;
  margin: 150px auto;
  padding: 35px;
  background-color: #f5f3d7;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  color: #1f193f;
}

#resultado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  border: 1px solid #1f193f;
  padding: 10px;
  margin: 5px;
  width: 130px;
  background-color: rgb(166, 216, 255);
  transition: transform 0.3s ease;
  
}

.card:hover {
  transform: scale(1.05);
  background-color: rgb(114, 176, 223);
}

button {
  background-color: #1d2850;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #7187ca;
}
